<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Video</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#views/movies/allMovies.hbs">Movies</a></li>
      <li><a href="#views/movieDetails/allMovieDetails.hbs">MovieDetails</a></li>
      <li><a href="#views/reviews/allReviews.hbs">Reviews</a></li>
    </ul>
  </div>
</nav>
