<!DOCTYPE html>
<html lang="en">
<head>
    {{> head}}
</head>
<body>
<div class="container">

    {{> navbar}}

    <div class="row">

        <h1>Whoops! An error has ocurred</h1>

    </div>
</div>

{{> scripts}}

</body>
</html>
