<!DOCTYPE html>
<html lang="en">
<head>
    {{> head}}
</head>
<body>
<div class="container">

    {{> navbar}}

    <div class="row">

        <!-- Form  -->
        <br>
        <div class="col-md-12">

            <form action="/movieDetails/post" method="POST" class="form-horizontal" id="form-edit-movieDetails">
                <fieldset>

                    <!-- Form Name -->
                    <legend>Actualizar informacion</legend>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="movieDetails[title]">Título</label>
                        <div class="col-md-4">
                            <input id="movieDetails[title]" name="movieDetails[title]" type="text" class="form-control input-md">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="movieDetails[year]">Año</label>
                        <div class="col-md-4">
                            <input id="movieDetails[year]" name="movieDetails[year]" class="form-control" class="form-control input-md">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="movieDetails[rated]">Puntaje</label>
                        <div class="col-md-4">
                            <input id="movieDetails[rated]" name="movieDetails[rated]" class="form-control" class="form-control input-md">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="movieDetails[released]">Estreno</label>
                        <div class="col-md-4">
                            <input id="movieDetails[released]" name="movieDetails[released]" class="form-control" class="form-control input-md">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="movieDetails[runtime]">Duración</label>
                        <div class="col-md-4">
                            <input id="movieDetails[runtime]" name="movieDetails[runtime]" type="text" class="form-control input-md">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="movieDetails[countries]">Paises</label>
                        <div class="col-md-4">
                            <input id="movieDetails[countries]" name="movieDetails[countries]" class="form-control" class="form-control input-md">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="movieDetails[genres]">Géneros</label>
                        <div class="col-md-4">
                            <input id="movieDetails[genres]" name="movieDetails[genres]" class="form-control" class="form-control input-md">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="movieDetails[director]">Director</label>
                        <div class="col-md-4">
                            <input id="movieDetails[director]" name="movieDetails[director]" class="form-control" class="form-control input-md">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="movieDetails[writers]">Escritores</label>
                        <div class="col-md-4">
                            <input id="movieDetails[writers]" name="movieDetails[writers]" type="text" class="form-control input-md">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="movieDetails[actors]">Actores</label>
                        <div class="col-md-4">
                            <input id="movieDetails[actors]" name="movieDetails[actors]" class="form-control" class="form-control input-md">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="movieDetails[plot]">Trama</label>
                        <div class="col-md-4">
                            <input id="movieDetails[plot]" name="movieDetails[plot]" class="form-control" class="form-control input-md">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="movieDetails[poster]">Poster</label>
                        <div class="col-md-4">
                            <input id="movieDetails[poster]" name="movieDetails[poster]" class="form-control" class="form-control input-md">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="movieDetails[imdb][rating]">IMDB | Rating</label>
                        <div class="col-md-4">
                            <input id="movieDetails[imdb][rating]" name="movieDetails[imdb][rating]" type="text" class="form-control input-md">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="movieDetails[imdb][votes]">IMDB | Votes</label>
                        <div class="col-md-4">
                            <input id="movieDetails[imdb][votes]" name="movieDetails[imdb][votes]" type="text" class="form-control input-md">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="movieDetails[tomato][meter]">Tomato | Meter</label>
                        <div class="col-md-4">
                            <input id="movieDetails[tomato][meter]" name="movieDetails[tomato][meter]" class="form-control" class="form-control input-md">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="movieDetails[tomato][consensus]">Tomato | Consensus</label>
                        <div class="col-md-4">
                            <input id="movieDetails[tomato][consensus]" name="movieDetails[tomato][consensus]" class="form-control" class="form-control input-md">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="movieDetails[tomato][image]">Tomato | Image</label>
                        <div class="col-md-4">
                            <input id="movieDetails[tomato][image]" name="movieDetails[tomato][image]" class="form-control" class="form-control input-md">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="movieDetails[tomato][rating]">Tomato | Rating</label>
                        <div class="col-md-4">
                            <input id="movieDetails[tomato][rating]" name="movieDetails[tomato][rating]" class="form-control" class="form-control input-md">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="movieDetails[tomato][reviews]">Tomato | Reviews</label>
                        <div class="col-md-4">
                            <input id="movieDetails[tomato][reviews]" name="movieDetails[tomato][reviews]" class="form-control" class="form-control input-md">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="movieDetails[tomato][fresh]">Tomato | Fresh</label>
                        <div class="col-md-4">
                            <input id="movieDetails[tomato][fresh]" name="movieDetails[tomato][fresh]" class="form-control" class="form-control input-md">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="movieDetails[tomato][userMeter]">Tomato | User Meter</label>
                        <div class="col-md-4">
                            <input id="movieDetails[tomato][userMeter]" name="movieDetails[tomato][userMeter]" class="form-control" class="form-control input-md">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="movieDetails[tomato][userRating]">Tomato | User Rating</label>
                        <div class="col-md-4">
                            <input id="movieDetails[tomato][userRating]" name="movieDetails[tomato][userRating]" class="form-control" class="form-control input-md">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="movieDetails[tomato][userReviews]">Tomato | User Reviews</label>
                        <div class="col-md-4">
                            <input id="movieDetails[tomato][userReviews]" name="movieDetails[tomato][userReviews]" class="form-control" class="form-control input-md">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="movieDetails[metacritic]">Metacritic</label>
                        <div class="col-md-4">
                            <input id="movieDetails[metacritic]" name="movieDetails[metacritic]" class="form-control" class="form-control input-md">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="movieDetails[awards][nominations]">Premios | Nominations</label>
                        <div class="col-md-4">
                            <input id="movieDetails[awards][nominations]" name="movieDetails[awards][nominations]" class="form-control" class="form-control input-md">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="movieDetails[awards][wins]">Premios | Wins</label>
                        <div class="col-md-4">
                            <input id="movieDetails[awards][wins]" name="movieDetails[awards][wins]" class="form-control" class="form-control input-md">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="movieDetails[awards][text]">Premios | Text</label>
                        <div class="col-md-4">
                            <input id="movieDetails[awards][text]" name="movieDetails[awards][text]" class="form-control" class="form-control input-md">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="movieDetails[type]">Tipo</label>
                        <div class="col-md-4">
                            <input id="movieDetails[type]" name="movieDetails[type]" class="form-control" class="form-control input-md">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="btn-save"></label>
                        <div class="col-md-4">
                            <button id="btn-save" class="btn btn-success">Guardar</button>
                        </div>
                    </div>

                </fieldset>
            </form>

        </div>
        <br>

    </div>
</div>

{{> scripts}}

</body>
</html>
